html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.about-country-box {
  display: flex;
  padding-top: 50px;
}

.country-text-box {
  margin-right: 40px;
}
.country-name {
  position: absolute;
  top: 10px;
  left: 150px;
}
.country-flag {
  width: 350px;
  background-color: aquamarine;
}

/* .custom-notification-alert-error {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.custom-notification-alert-error {
  border-color: #c6c8ca;
}

/* .custom-notification-alert-error {
  background-color: aquamarine;
} */
